*,
*:before,
*:after {
  box-sizing: border-box;
}

.box {
  color: #000000;
  padding: 1em;
  text-align: center;
}

input {
  width: 100%;
  padding: 1em;
  outline: none;
  border: 1px solid #f2f2f2;
}

.msg-line{
    width: 100%;
    background-color: #378743;
}


.message-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .blue_box, .green_box, .time-right, .time-left{
    display: block;
    clear:both;
}

.time-right span{
  padding: 0.6em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  border-radius: 0.2em;
  background-color:  white;
  color: #696767;
  display: block;
  float: right;

}

.time-right span {
  padding: 0em;
  margin-top: 0em;
  margin-bottom: 0.6em;
  color: #696767;
  display: block;
  float: right;
}


.blue_box span {
    padding: 0.6em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    border-radius: 0.2em;
    background-color:  #20d3a6;
    color: white;
    display: block;
    float: right;
}
.green_box span {
  
    background-color: #f2f2f2;
    color: black;
    padding: 0.6em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    border-radius: 0.2em;
    display: block;
    float: left;
}

.time-left span {
  padding: 0em;
  margin-top: 0em;
  margin-bottom: 0.6em;
  color: #696767;
  display: block;
  float: left;
}


.team-list {
    background-color: #f2f2f2;
    text-align: left;
    list-style-type: none;
  }
  
  .team-list li {
    padding: 0.6em;
  }





.app-layout {
  display: grid;
  height: 93vh;
  grid-template-columns: 25% 1fr;
  grid-template-rows: auto 1fr auto;
}

.header     { background-color: #ffffff; }
.teams      { background-color: #f2f2f2; }
.messages   { background-color: #ffffff; }
.write      { background-color: #f2f2f2; }

.teams {
  grid-column: 1;
  grid-row: 1 / 4;
  color: #0f0f0f;
  -webkit-box-shadow: 2px 0 5px -2px #888;
  box-shadow: 2px 0 5px -2px #888;
  z-index: 1;
  overflow-y: scroll;
  height: 100%;
}

.header {
  grid-column: 2;
  grid-row: 1;
  color: #333;
  border-bottom: 1px solid #f2f2f2;
}

.messages {
  grid-column: 2;
  grid-row: 2;
  padding: 0 1em;
  overflow-y: scroll;
}

.input {
  grid-column: 2;
  grid-row: 3;
}

input[type=text] {
    border-radius: 20px;
    width: 60%;
    outline: none;
    border: 1px solid #cacaca;
    background-color: #f9f9f9;
  
  }

  .names-list{
    width: 100%;
    text-align: centre;
  }

  .username-td {
    padding-right: 25%; 
    text-align: right;
  }

  .box-td {
    text-align: centre;
    padding: 1em;
    margin-right: 0;
  }


  
  input[type=submit] {
    border-radius: 10px;
    padding: 0.8em 2em;
    outline: none;
    border: 1px solid #cacaca;
    background-color: #17bd93;
    color: #ffffff;
    width: inherit;
  }

.buttons {
    border-radius: 10px;
    padding: 0.8em 1.5em;
    outline: none;
    border: 1px solid #cacaca;
    background-color: #17bd93;
    color: #ffffff;
    width: inherit;
    float: right;
  }


  ::-webkit-scrollbar {
    width: 5px; 
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #d3d3d3;
    border-radius: 1em;
  }

  .buttons {
    border-radius: 10px;
    padding: 0.2em 0.5em;
    outline: none;
    border: 1px solid #cacaca;
    background-color: #20d3a6;
    color: #ffffff;
    margin-left :1em;
    cursor:pointer;
    font-size: 150%;
  }

  .buttons:hover{
    background-color: #17bd93;
  }



  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  height: 80%;
  overflow-y: scroll;
}

table{
  width: 100%;
  text-align: centre;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.cont{
  width: 50%;
  text-align: centre;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

label input {
  visibility: hidden;/* <-- hide the default checkbox, the rest is to hide and alllow tabbing, which display:none prevents */
  display:block;
  height:0;
  width:0;
  position:absolute;
  overflow:hidden;
}
label span {/* <-- style the artificial checkbox */
  height: 20px;
  width: 20px;
  border: 1px solid grey;
  float: right;
  vertical-align: centre;
}
[type=checkbox]:checked + span{/* <-- style its checked state */
  background: black;
}

.people-list {
  list-style-type: none;
}

.people-list li {
  padding: 1em;
  text-align: center;
  width: 100%;
  margin-left:0px;
}

.people-list li:hover{
  background-color: #b1b1b1;
  border-radius: 10em;
}

.team-list li:hover{
  background-color: #b1b1b1;
  border-radius: 10em;
  cursor:pointer;
}

a:link, a:visited {
  text-decoration: none;
}

