#block-user{
  background-color: #ffffff;
  color: red;
  padding: 1em;
  border: #000000;
  cursor:pointer;
  border-radius: 10px;
  outline: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

}


h3 a:link, h3 a:visited{
  text-decoration: none;
  color: #000000;
}

#time-stamp{
  color: #696767;
  margin-top: -0.5em;
  padding-bottom: 0.5em;

}

h3 a:hover {
  color: #505050;
}

h3{
  line-height: 0.5em;
}

.cont input[type=text] {
    border-radius: 20px;
    width: 100%;
    height: 100px;
    outline: none;
    border: 1px solid #cacaca;
    background-color: #f9f9f9;
  
  }
  
  .cont input[type=submit] {
    border-radius: 10px;
    float: right;
    padding: 0.8em 2em;
    outline: none;
    border: 1px solid #cacaca;
    background-color: #17bd93;
    color: #ffffff;
  }

  #profile_cont{
    text-align: center;
    width: 15%;
    height: 100%;
    float: left;
    margin-left: 5em;
    margin-right: -10em;
  }

  .profile-table{
    text-align: left;
    margin-left: 0;
    width: 100%;
    table-layout: fixed;
  }

  .cell-txt{
    word-break: break-all;
    width: 15em;
  }

  .head{
    width: 7em;
    padding: 1em;
    font-weight: bold;
  }

  #container{
    text-align: center;
    width: 85%;
    height: 100%;
    float: right;

  }