input[type=text] {
    border-radius: 20px;
    width: 100%;
    height: 100px;
    outline: none;
    border: 1px solid #cacaca;
    background-color: #f9f9f9;
  
  }
  
  input[type=submit] {
    border-radius: 10px;
    float: right;
    padding: 0.8em 2em;
    outline: none;
    border: 1px solid #cacaca;
    background-color: #17bd93;
    color: #ffffff;
  }

  #profile_cont{
    text-align: center;
    width: 15%;
    height: 100%;
    float: left;
    margin-left: 5em;
    margin-right: -10em;
  }

  .profile-table{
    text-align: left;
    margin-left: 0;
    width: 100%;
    table-layout: fixed;
  }

  .cell-txt{
    word-break: break-all;
    width: 15em;
  }

  .head{
    width: 7em;
    padding: 1em;
    font-weight: bold;
  }

  #container{
    text-align: center;
    width: 85%;
    height: 100%;
    float: right;

  }