<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='css/base.css' />
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
    <div class="navbar">
        <a href="index">Home</a>
        <a href="profile">Profile</a>
        <a href="message">Messages</a> 
        
        
        <div class="dropdown-new"> 
        <input type="text" placeholder="Search profile.." id="myInput" onfocus='showtable()' onkeyup="filterFunction()">  
        <div id="dropdown-id" class="dropdown-content-search">
            {% for user in allusers %}
                <a href='profile?name={{ user["username"] }}'>{{ user["username"] }}</a>
            {% endfor %}
         </div>
        </div>
    
        
        

        <div class="dropdown">
            <button class="dropbtn">Account
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="settings">Settings</a>

                <button class="dropdown-btn">Set status</button>
                <div class="dropdown-container">
                    <a href="index?status=online">Online (default)</a>
                    <a href="index?status=busy">Busy</a>
                    <a href="index?status=away">Away</a>
                </div>
                <a href="signout">Logout</a>
                
            </div>
        </div>
    </div>
    {% block body %}{% endblock %}
    <script src="js/base.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

</body>

</html>