{% extends 'web/base.html' %}

{% block title %} Index {% endblock %}
{% block head %}
{{ super() }}
<link rel='stylesheet' href='css/messaging.css' />
{% endblock %}

{% block body %}
<div class='app-layout'>
    <div class='teams box webkit-scrollbar webkit-scrollbar-thumb'>

        <b>Group Chats</b>
        <!-- Trigger/Open The Modal -->
        <button id="myBtn" class="buttons">+</button>

        <!-- The Modal -->
        <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
                <span class="close">&times;</span>
        <div class='cont'>
            
            <form>
                <h3>Add participants to your group:<input type="submit" value="Create" style='float: right;'></h3>
                <br>

                <table class=names-list id='group-table'>
                   
                </table>
            </form>
        </div>
        </div>

        </div>
        <ul class=team-list>
            <li>compsys 302</li>
            <li>compsci 213</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        
        <b>Users</b>
        <ul id='all_users' class=team-list>
            <li><a href='#' onclick='clickfuncMessage(this)'>lche982</a>online</li>
        </ul>

    </div>
    <div id="msgheader" class='header box'>
        {% if not username %}
            Message
        {% else %}
            {{ username }}
        {% endif %}
    </div>
    <div class='messages box webkit-scrollbar webkit-scrollbar-thumb'>
        <ul id="pm" class='message-list'>
            {% if messages|length == 0 and not username %}
                Click on a user and start chatting!
            {% elif messages|length == 0 and username %}
                Start a conversation with {{ username }}
            {% endif %}
            {% for messageObj in messages %}
                {% if messageObj["sent"] == "sent" %}
                    <li><div class='blue_box'><span>{{ messageObj["message"] }}</span></div></li>
                {% else %}
                    <li><div class='green_box'><span>{{ messageObj["message"] }}</span></div></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class='input box'>
        <form action="/sendPrivateMessage" method="post" enctype="multipart/form-data">
            <input type="text" name="message" placeholder='Send a message'>
            <input type="hidden" name="target_user" id="targetuser">
            <input type="submit" value="Send">
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="js/groupchat.js"></script>
<script src="js/click.js"></script>
<script src="js/list_users.js">
</script>
{% endblock %}