{% extends 'web/base.html' %}

{% block title %} Index {% endblock %}
{% block head %}
{{ super() }}
<link rel='stylesheet' href='css/messaging.css' />
{% endblock %}

{% block body %}
<div class='app-layout'>
    <div class='teams box webkit-scrollbar webkit-scrollbar-thumb'>

        <b>Group Chats</b>
        <ul class=team-list>
            <li>compsys 302</li>
            <li>compsci 213</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        
        <b>Users</b>
        <ul id='all_users' class=team-list>

        </ul>

    </div>
    <div class='header box'>Messages</div>
    <div class='messages box webkit-scrollbar webkit-scrollbar-thumb'>
        <ul class='message-list'>
            <li><div class='green_box'><span>Message from Lucy</span></div></li>
            <li><div class='blue_box'><span>Message from Me</span></div></li>
            <li><div class='blue_box'><span>Message from Me</span></div></li>
            <li><div class='blue_box'><span>Message from Me</span></div></li>
            <li><div class='green_box'><span>Message from Lucy</span></div></li>
            <li><div class='blue_box'><span>Message from Me</span></div></li>
            <li><div class='green_box'><span>Message from Lucy</span></div></li>
            <li><div class='blue_box'><span>Message from Me</span></div></li>
            <li><div class='blue_box'><span>Message from Me</span></div></li>

        </ul>
    </div>

    <div class='input box'>
        <form name="messageform">
            <input type="text" name="q" placeholder='Send a message'>
            <input type="submit" value="Send">
        </form>
    </div>
</div>

<script src="js/list_users.js">
</script>
{% endblock %}