{% extends 'web/base.html' %}

{% block title %} Message {% endblock %}
{% block head %}
{{ super() }}
<link rel='stylesheet' href='css/messaging.css' />
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
<div class='app-layout'>
    <div class='teams box webkit-scrollbar webkit-scrollbar-thumb'>

        <b>Group Chats</b>
        <!-- Trigger/Open The Modal -->
        <button id="myBtn" class="buttons">+</button>

        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <div class='cont'>


                    <h3>Add participants to your group:</h3>
                    <button class='buttons' id='groupchat-btn'>Create</button>
                    <p>Note: you can only message online users</p>
                    <br>

                    <ul class=people-list id='group-list'>
                        {% for username in onlineusers %}
                        {% if onlineusers[username]  == 'online' %}
                        <li><label><input type='checkbox' value='{{username}}'
                                    name='username'><span></span>{{username}}</label></li>
                        {% endif %}
                        {% endfor %}

                    </ul>


                </div>
            </div>

        </div>
        <ul class=team-list>
            {% if groupchats|length == 0 %}
            You have no group chats. Make one with the plus button.
            {% endif %}
            {% for groupchat in groupchats %}
            <a href='?groupname={{groupchat["groupkey_hash"]}}'>
                <li>{{ groupchat["groupkey_hash"] }}</li>
            </a>
            {% endfor %}
        </ul>

        <b>Users</b>
        <ul id='all_users' class=team-list>
            {% for username in onlineusers %}
            <a href='?name={{username}}'>
                <li>{{ onlineusers[username] }} {{username}}</li>
            </a>
            {% endfor %}

        </ul>

    </div>
    <div id="msgheader" class='header box'>
        {% if username %}
        <a href='profile?name={{username}}'>{{ username }}</a>
        {% elif groupname %}
        {{ groupname }}
        {% else %}
        Message
        {% endif %}
    </div>
    <div class='messages box webkit-scrollbar webkit-scrollbar-thumb'>
        <ul id="pm" class='message-list'>

            {% if messages|length == 0 and username %}
            Start a conversation with {{ username }}
            {% elif messages|length == 0 and groupname %}
            Start a conversation with {{ groupname }}
            {% elif messages|length == 0%}
            Click on a user or group and start chatting!
            {% endif %}

            {% for messageObj in messages %}
            {% if messageObj["sent"] == "sent" %}
            <li>
                <div class='blue_box'><span>{{ messageObj["message"] }}</span></div>
            </li>
            <li>
                <div class='time-right'><span>{{ messageObj["time"] }}</span></div>
            </li>
            {% else %}
            {% if messageObj["username"] == "invalid user" %}
            <li>
                <div class='green_box'><span><i>Message blocked</i></span></div>
            </li>
            <li>
                <div class='time-left'><span>{{ messageObj["time"] }}</span></div>
            </li>
            <li>
                <div class='time-left'><span>Blocked user</span></div>
            </li>
            {% elif messageObj["message"] == 'invalid message' %}
            <li>
                <div class='green_box'><span><i>This message contains blocked words</i></span></div>
            </li>
            <li>
                <div class='time-left'><span>{{ messageObj["time"] }}</span></div>
            </li>
            <li>
                <div class='time-left'><span><a
                            href='profile?name={{messageObj["username"]}}'>{{ messageObj["username"] }}</a></span></div>
            </li>
            {% else %}
            <li>
                <div class='green_box'><span>{{ messageObj["message"] }}</span></div>
            </li>
            <li>
                <div class='time-left'><span>{{ messageObj["time"] }}</span></div>
            </li>
            <li>
                <div class='time-left'><span><a
                            href='profile?name={{messageObj["username"]}}'>{{ messageObj["username"] }}</a></span></div>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class='input-div box'>
        {% if username %}
        <form action="/sendPrivateMessage" method="post" enctype="multipart/form-data">
            <input type="text" id='msg' name="message" placeholder='Send a message'>
            <input type="hidden" name="target_user" value='{{ username }}'>
            <input type="submit" onclick='return checkSize()' value="Send">
        </form>
        {% elif groupname %}
        <form action="/sendGroupMessage" method="post" enctype="multipart/form-data">
            <input type="text" id='msg' name="message" placeholder='Send a message'>
            <input type="hidden" name="groupname" value='{{ groupname }}'>
            <input type="submit" onclick='return checkSize()' value="Send">
        </form>
        {% endif %}
    </div>
</div>

<script src="js/groupchat.js"></script>
<script src="js/list_users.js"></script>

{% endblock %}