{% extends 'web/base.html' %}

{% block title %} Index {% endblock %}
{% block head %}
{{ super() }}
<link rel='stylesheet' href='css/profile.css' />
{% endblock %}

{% block body %}

<div id=profile_cont>
    <h1>Lucy Chen</h1>
    <p>@lche982</p>
    <img class='icons' src=img/like.svg style="width: 1.5em">


</div>

<div id="container">

    <div class='block_container'>
        <div class='cont'>
            <form name="messageform">
                <input type="text" name="q" placeholder='Make a public broadcast.'> </br></br>
                <input type="submit" value="Send">
            </form>
        </div>
    </div>

    <div class='block_container'>
        <div class='cont'>
            <h3>@lche982</h3>
            <p>Hello this is a tweet heheheheh</p> </br>
            <img class='icons' src=img/like.svg style="width: 1.5em">
        </div>


    </div>

    <div class='block_container'>
        <div class='cont'>
            <h3>@lche982</h3>
            <p>Hello this is a tweet heheheheh</p> </br>
            <img class='icons' src=img/like.svg style="width: 1.5em">
        </div>


    </div>


    <div class='block_container'>
        <div class='cont'>
            <h3>@lche982</h3>
            <p>Hello this is a tweet heheheheh</p> </br>
            <img class='icons' src=img/like.svg style="width: 1.5em">
        </div>


    </div>



</div>

{% endblock %}