{% extends 'web/base.html' %}

{% block title %} Profile {% endblock %}
{% block head %}
{{ super() }}
<link rel='stylesheet' href='css/profile.css' />
<link rel='stylesheet' href='css/filter.css' />
{% endblock %}

{% block body %}

<div id=profile_cont>

    <h1>
        {{ profile['username'] }} 
    </h1>

    {% if profile["username"] != 'Blocked user' %}
        {% if not isOwn %}
                <button id='block-user' onclick="sendBlockData()">Blocker user</button>
        {% endif %}
    
    <table class=profile-table>
        <tr>
            <td class='head'>Connection address</td>
            <td class='cell-txt'>{{ profile['address'] }}</td> 
        </tr>
        <tr>
                <td class='head'>Connection location</td>
                <td class='cell-txt'>{{ profile['location'] }}</td> 
        </tr>
        <tr>
                <td class='head'>Public key</td>
                <td class='cell-txt'>{{ profile['pubkey'] }}</td> 
        </tr>
        <tr>
                <td class='head'>Status</td>
                <td class='cell-txt'>{{ profile['status'] }}</td>
        </tr>
    </table>
    {%endif%}


</div>

<div id="container">
    {% if isOwn %}
    <div class='block_container'>
            <div class='cont'>
                    <form action="/sendBroadcastMessage" method="post" enctype="multipart/form-data">
                        <input type="text" id='bc' name="message" placeholder='Make a public broadcast.'> </br></br>
                        <input type="submit" onclick='return checkSizeBroadcast()' value="Send">
                    </form>
            </div>
        </div>
    {% endif %}


    {% if broadcasts|length == 0 %}
    <div class='block_container'>
            <div class='cont'>
                This user has not made any broadcasts.
            </div>
        </div>
    
    {% endif %}

    {% if profile["username"] != 'Blocked user' %}
        {% if not isOwn %}
            <hr> 

            <div class="filter">
                <button onclick="clickFilter()" class="filterbtn">Filter by: {{ filter }}</button>
                <div id="myFilter" class="filter-content">
                <a href='?name={{profile["username"]}}'>Their Posts</a>
                <a href='?name={{profile["username"]}}&filterVal=favourite'>Favourited</a>
                <a href='?name={{profile["username"]}}&filterVal=blocked'>Blocked</a>
                </div>
            </div>
        {% endif %}
    {% endif %}


    {% if profile["username"] != 'Blocked user' %}
        {% for broadcast in broadcasts %}
            {% if broadcast["username"] != 'invalid username'%}

                <div class='block_container'>
                    <div class='cont'>
                        <h3><a href='?name={{profile["username"]}}'>{{profile["username"]}}</a></h3>
                        <p id=time-stamp>{{broadcast["time"]}}</p>
                        <p>
                            {%if broadcast["message"] == 'invalid message'%}
                                <i>This message contains blocked words</i>
                            {%else%}
                                {{broadcast["message"]}}
                            {%endif%}
                        </p> </br>
                        <a href="#"><img class='icons' id='{{ broadcast["signature"] }}' onclick="favouriteBroadcast(this.id)" src=img/like.svg style="width: 1.5em"></a>
                        {{broadcast["likes"]}}
                        <a href="#"><img class='icons' id='{{ broadcast["signature"] }}' onclick="blockBroadcast(this.id)" src=img/block.svg style="width: 1.5em"></a>
                    </div>
                </div>

                {% endif %}
        {% endfor %}
    {% endif %}

</div>

<script src="js/profile.js"></script>
<script src="js/blockfilter.js"></script>

{% endblock %}