{% extends 'web/base.html' %}

{% block title %} Settings {% endblock %}
{% block head %}
{{ super() }}
<link rel='stylesheet' href='css/settings.css' />
{% endblock %}

{% block body %}
<div class='container'>

    <h1>Settings</h1>


    <div class='block_container'>

        <div id="words" class="title">
            <h2 style="margin:5px">Blocked words</h2>
            <form action="/settings" method="post" enctype="multipart/form-data">
                <input type="text" id="block-input" name="blockWord" placeholder='Enter blocked word...'>
                <input type="submit" id="block-btn" onclick='return checkEmpty()' value="Add">
            </form>
        </div>
        {% if blocked_words|length == 0 %}
        You have no blocked words.
        {%endif%}

        <ul id="blocked-words">
            {% for word in blocked_words %}
            <li id='{{ word["word"] }}'>{{ word["word"] }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class='block_container'>

        <div id="words" class="title">
            <h2 style="margin:5px">Blocked Users</h2>
        </div>
        {% if blocked_users|length == 0 %}
        You have no blocked users.
        {%endif%}

        <ul id="blocked-users">
            {%for user in blocked_users %}
            <li id='{{ user["blockedUser"] }}'> {{ user["blockedUser"] }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class='block_container'> <a href='/checkpubkey'>Check pubkey</a> <br />
        <a href='/testRecieveMessage?message=hello from private'>SEND LUCY MESSAGE</a> <br>

    </div>


</div>

<script src="js/settings.js"></script>
{% endblock %}