{% extends 'web/base.html' %}
{% block title %} Page Not Found {% endblock %}


{% block body %}

<div class='base-container'>
    <h1>Settings</h1>
    <a href='/checkpubkey'>Check pubkey</a> <br />
    <a href='/signout'>Sign out</a> <br />
    <a href='/listActiveUsers'>List active users</a> <br />
    <a href='/updateLoginServerRecord'>Update login server record</a> <br />
    <a href='/sendBroadcastMessage'>Message</a> <br />
    <a href='/testRecieveMessage?message=hello from private'>SEND LUCY MESSAGE</a> <br/>
</div>

{% endblock %}